/***************************
****************************
General
****************************
***************************/
.orgs {
    text-align: center;
    position: relative;
    top: 30px;
}
.orgs .riba {
    height: 50px;
}
.orgs .arb {
    height: 61px;
}
.orgs span {
    margin: 0 10px;
    display: inline-block;
}
.ribbon-left:after {
    display: none;
}
@media screen and (min-width: 767px) {
    .ribbon-left {
        width: 100%;
    }
    .orgs {
        top: 60px;
    }
}
@media screen and (max-width: 766px) {
    .ribbon-left {
        left: -15px;
    }
}